
@media (min-width: 992px) {
    .nav h4{
        padding-left: 150px;
    }
    .nav1 h5{
        padding-right: 500px;
    }
    .nav ul{
        padding-left: 700px;
        flex-direction: row;
    }
    .nav ul li {
        display: inline;
        list-style: none;
        padding: 16px;
    }
    .nav li:hover{
    color:rgb(244 98 58);
    }
}
@media (min-width: 992px) {
        .con h1{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            text-align: start;
            width: 100%;
            font-size: 59px;
            color: #ffffff;
    }
    .con p{
        position: absolute;
        top: 65%;
        text-align: start;
        width: 100%;
        font-size: 20px;
        color: #ffffff;
        }
      .con button{
       /* border-radius: 20px; */
       background-color:rgb(244 98 58);
       position: absolute;
       text-align: center;
       top: 80%;
        /* width:200px; */
        /* padding: 10px; */
        /* height: 60px; */
       /* font-size: 20px; */
        } 
}
@media (min-width: 992px) {
.page-section {
    padding: 8rem 0;
}

.about{
    /* --bs-bg-opacity: 1; */
    width: 100%;
    height: 250px;
    background-color:rgb(244 98 58) ;
}
.text-center {
    text-align: center;
}
.page-section a{
    background-color:rgb(244 98 58) ;
}
hr.divider {
    height: 0.2rem;
    max-width: 3.25rem;
    margin: 1.5rem auto;
    background-color:rgb(0, 0, 0) ;
}
.text-white-75 {
    color: rgba(255, 255, 255, 0.75);
}
}
@media (min-width: 992px) {
.mb-4 {
    margin-bottom: 1.5rem;
}
/* p {
    margin-top: 0;
} */
.btn-xl {
    padding: 1.25rem 2.25rem;
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 10rem;
}
}
@media (min-width: 992px) {
div.gallery{
    display: flex;
    flex-wrap: wrap;
    gap:px;
    flex-flow: row;
   padding: 0px;
   /* margin-right: 200px; */
}

}
